/* 
Estilos da pagina index.html
*/

.center{
    text-align: center;
}

.container{
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.iframe{
    width: 100%;
    display: flex;
    justify-content: center;
}
#menu li{
    display: inline;
    padding:15px;
    font-size:20px;
    
}

#menu li a{
    text-decoration: none;
    color: rgb(48, 0, 0);
}

#menu li a:hover{
    color:rgba(97, 7, 243, 0.555);
}
.p-30{
    padding: 10px;
}

.br-50{
    border-radius: 50%;
    max-width:200px;
    max-height:1550px;
    width: auto;
    height: auto;
    padding: 10px;
}

.teste1{
font-size: 20px;
padding: 10px;
}

/* 
Estilos da pagina contato.html
*/
.ladosc{
    display:flex;
    flex-flow: row;
    justify-content:center;
    align-items: center;
    padding: 10px;

}
.iframecontato{
    padding: 10px;
    border:1px solid rgba(147, 147, 148, 0.356);
    margin-left: 15px;
}
.contact{
    padding: 20px;
}

.tituloContact{
    text-align: center;
}
.info{
    text-align:right;
}
.contactReal{
    text-align:center;
    padding: 30px;
}